<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title style="text-align: center; font-weight: bolder;">
      Desenvolvedores
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <img alt="pedro" src=".\assets\pedro.jpg" />
    <ion-card-header>
      <ion-card-title>Pedro Henrique Do Nascimento Nunes</ion-card-title>
      <ion-card-subtitle>Turma: ADS0304N</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Matricula:23103980
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img alt="Silhouette of mountains" src=".\assets/Rafael.png" />
    <ion-card-header>
      <ion-card-title>Rafael Pereira De Carvalho</ion-card-title>
      <ion-card-subtitle>Turma: ADS0304N</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Matricula:23100312
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img alt="Silhouette of mountains" src=".\assets/Jeferson.jpg" />
    <ion-card-header>
      <ion-card-title>Jefferson Guedes de Sousa</ion-card-title>
      <ion-card-subtitle>Turma: ADS0304N</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Matricula:23102116
    </ion-card-content>
  </ion-card>
</ion-content>
